<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>"Ex00: Markdown Cheatsheet.</title>
        <style>
            td, th{
                border-style:solid;
                border-width: 1px;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Markdown Cheatsheet</h1>
        <table>
            <tr>
                <th>Element</th>
                <th>Markdown Syntax</th>
            </tr>
            <tr>
                <td>Heading</td>
                <td>
                    # H1<br>
                    ## H2<br>
                    ### H3<br>
                </td>
            </tr>
            <tr>
                <td>Bold</td>
                <td>**bold text**</td>
            </tr>
            <tr>
                <td>Italic</td>
                <td>*italicized text*</td>
            </tr>
            <tr>
                <td>Blockquote</td>
                <td>> blockquote</td>
            </tr>         
            <tr>
                <td>Ordered List</td>
                <td>1. First item<br>
                    2. Second item<br>
                    3. Third item<br>
                </td>
            </tr>                  	
            <tr>
                <td>Unordered List</td>
                <td>- First item<br>
                    - Second item<br>
                    - Third item<br>
                </td>
            </tr>                 
            <tr>
                <td>code</td>
                <td>`code`</td>
            </tr>   
            <tr>
                <td>Horizontal Rule</td>
                <td>---</td>
            </tr>   
            <tr>
                <td>Link</td>
                <td>[title](https://www.example.com)</td>
            </tr>   
            <tr>
                <td>Image</td>
                <td>![alt text](image.jpg)</td>
            </tr>
            <tr>
                <td>Table</td>
                <td>
                    | Syntax | Description |<br>
                    | ----------- | ----------- |<br>
                    | Header | Title |<br>
                    | Paragraph | Text |<br>
                </td>
            </tr>      
            <tr>
                <td>Fenced Code Block</td>
                <td>
                    ```<br>
                    {<br>
                    "firstName": "John",<br>
                    "lastName": "Smith",<br>
                    "age": 25<br>
                    }<br>
                    ```<br>
                </td>
            </tr>      
            <tr>
                <td>Footnote</td>
                <td>
                    Here's a sentence with a footnote. [^1]<br>
                    [^1]: This is the footnote.
                </td>
            </tr>      
            <tr>
                <td>Heading ID</td>
                <td>### My Great Heading {#custom-id}</td>
            </tr>      
            <tr>
                <td>Definition List</td>
                <td>
                    term<br>
                    : definition
                </td>
            </tr>      
            <tr>
                <td>Strikethrough</td>
                <td>~~The world is flat.~~</td>
            </tr>      
            <tr>
                <td>Task List</td>
                <td>
                    - [x] Write the press release<br>
                    - [ ] Update the website<br>
                    - [ ] Contact the media<br>
                </td>
            </tr>      
            <tr>
                <td>Emoji</td>
                <td>That is so funny! :joy:</td>
            </tr>      
            <tr>
                <td>Highlight</td>
                <td>I need to highlight these ==very important words==.</td>
            </tr>      
            <tr>
                <td>Subscript</td>
                <td>H~2~O</td>
            </tr>      
            <tr>
                <td>Superscript</td>
                <td>X^2^</td>
            </tr>              
        </table>
    </body>
</html>