{% extends "ex01/base.html" %}

{% block title %}
Ex01: Display process of a static page.
{% endblock title %}

{% block content %}
<h1>Display of a Static Page</h1>
<h2>Process flow</h2>
<p>
    A static website comprises a set of related HTML pages and files hosted on a computer running a web server.
</p>
<p>
    A web server is software that serves web pages in response to requests from web browsers. 
    A page request is generated when a visitor clicks a link on a web page, selects a bookmark in a browser, or enters a URL in a browser’s address text box.
</p>
<p>
    The final content of a static web page is determined by the page designer and doesn’t change when the page is requested. 
</p>
<p>
    Every line of the page’s HTML code is written by the designer before the page is placed on the server. 
    Because the HTML doesn’t change once it’s on the server, this kind of page is called a static page.
</p>
<img src="http://etutorials.org/shared/images/tutorials/tutorial_78/process_.jpg" alt="Visual represantation of the process flow.">
<p>
    <br><br>Source: Etutorials. Avaiable at: http://etutorials.org/Macromedia/Dream+Weaver+Online+Help/Getting+Started+with+Dreamweaver/Understanding+Web+Applications/How+a+web+application+works/Processing+static+web+pages/</p>
{% endblock content %}