{% extends "ex01/base.html" %}
{% load static %}

{% block title %}
Ex01: Template engine."
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
{% endblock style %}

{% block content %}

<h1>Django Template Engine</h1>
<h2>How does it work</h2>
<p>
    Being a web framework, Django needs a convenient way to generate HTML dynamically. The most common approach relies on templates. 
    A template contains the static parts of the desired HTML output as well as some special syntax describing how dynamic content will be inserted.
</p>
<p>
    A Django project can be configured with one or several template engines (or even zero if you don’t use templates). 
    Django ships built-in backends for its own template system, creatively called the Django template language (DTL), and for the popular alternative Jinja2.
</p>
<p>
    Django defines a standard API for loading and rendering templates regardless of the backend. 
    Loading consists of finding the template for a given identifier and preprocessing it, usually compiling it to an in-memory representation. 
    Rendering means interpolating the template with context data and returning the resulting string.
</p>
<h3>Blocks</h3>
<p>
    The block tag  has two functions:
</p>
    <ol>
        <li>It is a placeholder for content.</li>
        <li>It is content that will replace the placeholder.</li>
    </ol>
<p>
    In master templates the block tag is a placeholder that will be replaced by a block in a child template with the same name.
</p>
<p>    
    In child templates the block tag is content that will replace the placeholder in the master template with the same name.
</p>    
<p>Example:</p>
{% verbatim %}
<code>
    {% extends &quot;mymaster.html&quot; %}
    <p>{% block userinfo %}<p>
    </p>&lt;h2&gt;John Doe&lt;/h2&gt;</p>
    <p>&lt;p&gt;Explorer of life.&lt;/p&gt;</p> 
    <p>{% endblock %}</p>
</code>
{% endverbatim %}
<h3>Loops for ... in</h3>
<p>A for loop is used for iterating over a sequence, like looping over items in an array, a list, or a dictionary.</p>
<p>Example:</p>
{% verbatim %}
<code>
    <p>{% for x in fruits %}</p>
    <p>&lt;h1&gt;{{ x }}&lt;/h1&gt;</p>
    <p>{% endfor %}</p>
</code>
{% endverbatim %}

<h3>if control structures</h3>
<p>The if tag allows you to write conditional statements.</p>
<p>Use if statements to output a block of code if a condition is true.</p>    
<p>You can use else or elif (short for "else if") to specify what to do when the if condition is false.</p>
{% verbatim %}
<code>
    <p>{% if myvar == 1 %}</p>
    <p>&lt;h1&gt;Hello!&lt;/h1&gt;</p>    
    <p>{% else %}</p>
    <p>&lt;h1&gt;Greetings!&lt;/h1&gt;</p>
    <p>{% endif %}</p>     
</code>
{% endverbatim %}

<h3>Variables</h3>
{% verbatim %}
<p>In Django templates, you can render variables by putting them inside {{ }} brackets:</p>
<p>Example:</p>
<h4>templates/template.html:</h4>
<code>
    <p>&lt;h1&gt;Hello {{ firstname }}, how are you?&lt;/h1&gt;</p>
</code>
<h4>views.py:</h4>
<code>
    <p>from django.http import HttpResponse</p>
    <p>from django.template import loader</p>    
    <br>    
    <p>def testing(request):</p>    
    <p>template = loader.get_template('template.html')</p>      
    <p>context = {</p>      
    <p>'firstname': 'Linus',</p>        
    <p>}</p>      
    <p>return HttpResponse(template.render(context, request))</p>      
</code>
{% endverbatim %}
<p>
    <br><br>Sources: 
    <ul>
        <li>Django Official Documentation. Avaiable at: https://docs.djangoproject.com/en/4.1/topics/templates/</li>
        <li>W3C Schools. Available at: https://www.w3schools.com/django/ref_tags_block.php</li>
        <li>W3C Schools. Available at: https://www.w3schools.com/django/django_tags_for.php</li>
        <li>W3C Schools. Available at: https://www.w3schools.com/django/ref_tags_if.php</li>
        <li>W3C Schools. Available at: https://www.w3schools.com/django/django_template_variables.php</li>
    </ul>
</p>
{% endblock content %}